.carButtonsAndName,
.carAddRemoveButtons,
.carStart {
  display: flex;
  margin-bottom: 0.5rem;
}

.carSelect, .carRemove{
  outline: none;
  border: 0.05rem solid white;
  background: transparent;
  color:white;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}

.start{
  outline: none;
  border: 0.05rem solid rgb(16, 152, 11);
  background: transparent;
  color:rgb(16, 152, 11);
  margin-right: 0.4rem;
}

.stop{
  outline: none;
   border: 0.05rem solid rgb(179, 8, 8);
  background: transparent;
  color:rgb(179, 8, 8);
  margin-right: 0.4rem;
}

.carStart {
  border-bottom: 0.2rem solid white;
}

.carStartStopButtons {
  display: flex;
  align-items: flex-start;
  margin-right: 2rem;
}

.carName {
  color: white;
    font-size: 2rem;
    margin-left: 1.5rem;
}
